.header {
  text-align: center;
}
.title {
  margin: 0;
  padding: 10px 0 12px;
  color: var(--dark-cyan);
}

.desc {
  margin: 0;
  padding-bottom: 24px;
}
.filter {
  background-color: var(--pale-yellow);
  padding: 16px 0;
  position: sticky;
  top: 0;
  z-index: 9;
  box-shadow: 0 1px 0.25rem 0.0625rem rgb(0 0 0 / 6%);
}
.filter__list {
  width: 70%;
  margin: 0 auto;
}
.filter__item {
  padding: 0;
}
.filter__item:first-child {
  font-weight: 600;
}
