.aside {
  background-color: white;
  border-radius: 24px;
  padding: 0 36px 0 12px;
}
.heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.count {
  background-color: var(--beige);
  color: red;
  width: 90%;
  text-align: center;
  padding: 16px 0;
  font-weight: 600;
  border-radius: 16px;
  font-size: 0.95em;
  margin: 0 auto;
}
.page__title {
  margin: 0;
  padding: 16px;
  text-align: center;
}
.title {
  margin: 8px 0 16px;
}
.content {
  padding-top: 24px;
  height: 50%;
}
.aside_row {
  display: flex;
}
.login {
  font-size: 0.9em;
  text-align: center;
  display: inline-block;
}
.contact {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.divider {
  display: inline-block;
  padding: 12px 0;
  text-transform: uppercase;
  font-size: 0.9em;
  position: relative;
  width: 100%;
  text-align: center;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  width: 43%;
  border-bottom: 1px solid rebeccapurple;
  top: 50%;
}
.divider::before {
  left: 0;
}
.divider::after {
  right: 0;
}

.input {
  width: 100%;
  padding: 4px 24px 4px 4px;
}
.form {
  width: 100%;
}
.btn__row {
  margin-top: 24px;
  width: 95%;
}
