html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--beige);
}

html {
  height: 100vh;
  overflow: hidden;
}
body {
  overflow: auto;
  scroll-behavior: smooth;
}
body,
#__next {
  height: 100vh;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/****

vars

****/
:root {
  --beige: #f6f1ed;
  --purple: hsl(272 51% 54%);
  --text-light: #fff;
  --pale-yellow: #fff9e6;
  --dark-cyan: #3d348b;
}
