.container {
  width: 100%;
  border-radius: 24px;
  background-color: white;
  padding: 12px 24px 36px;
  height: 60vh;
}
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
