.input {
  all: unset;
  flex: 1 0 auto;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 0.93em;
  line-height: 1;
  color: var(--purple);
  box-shadow: 0 0 0 1px var(--purple);
  height: 35px;
  width: 90%;
}

.input:focus {
  box-shadow: 0 0 0 1px var(--purple);
}
