.btn {
  border-radius: 4px;
  padding: 0 15px;
  font-size: 0.9em;
  line-height: 1;
  font-weight: 400;
  min-height: 38px;
  background-color: var(--purple);
  color: white;
  width: 100%;

  border-width: 0;
}
.btn:hover {
  cursor: pointer;
}
.btn:active {
  opacity: 0.8;
}
