.order__row {
  display: flex;
  justify-content: space-between;
}
.order__label {
  margin: 0;
}

.order__price {
  margin: 0;
}
.order__item {
  padding: 18px 0;
}
.block {
  padding-top: 38px;
  position: relative;
}
.block::before,
.order__recap::before,
.order__delivery::before {
  content: "";
  position: absolute;
  left: 10%;
  right: 10%;
  top: 16px;
  border-bottom: 2px solid var(--beige);
}
.order__delivery {
  padding-top: 32px;
  position: relative;
}

.order__recap {
  font-weight: 600;
  font-size: 1.1em;
  padding-top: 32px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
