.container {
  display: inline-block;
  background-color: red;
  height: 18px;
  width: 18px;
  color: white;
  border-radius: 50%;
  font-size: 0.6em;
  font-weight: 700;
  text-align: center;
  vertical-align: center;
  margin-left: -6px;
  margin-top: -4px;
  z-index: 10;
  position: relative;
  line-height: 18px;
}
