.container {
  width: 50%;
  margin: 0 auto;
  height: calc(100vh - 120px);
}
.title {
  color: var(--purple);
  text-align: center;
}
.desc {
  text-align: center;
}
.form {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}
.btn__row {
  padding-top: 16px;
  width: 80%;
  margin: 0 auto;
}
