.row__full {
  padding: 8px 0;
  width: 100%;
  display: grid;
  grid-template-columns: 47%;
}

.row__three {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 90%;
  padding: 8px 0;
  gap: 16px;
}
.row__two {
  display: grid;
  grid-template-columns: 47% 46%;
  padding: 8px 0;
  gap: 16px;
}
.warn__wrap {
  display: flex;
  align-items: center;
  width: 80%;
}
.warn {
  font-size: 0.8em;
}
