.container {
  height: 4px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--beige);
  z-index: 99;
}

.filler {
  height: 100%;
}
.pgr[data-progress] {
  opacity: 1;
  background: linear-gradient(-45deg, #3d348b, #3d348b, #e95383, #948ec9);
  background-size: 400% 400%;
}
.pgr[data-progress="start"] {
  opacity: 1;
  animation-duration: 2s;
  animation-name: width;
}
.pgr[data-progress="complete"] {
  animation-duration: 300s;
  animation-name: done;
}

@keyframes width {
  from {
    width: 15%;
  }
  50% {
    width: 50%;
  } /* ignored */
  to {
    width: 90%;
  }
}

@keyframes done {
  from {
    width: 100%;
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
