.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
}
.content {
  background-color: white;
  border-radius: 6;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25;
}
.btn {
  border: none;
  background-color: transparent;
}
.btn:hover {
  cursor: pointer;
}
.icon {
  height: 20px;
  width: 20px;
}
.icon path {
  fill: var(--dark-cyan);
}
