.order__row {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
}
.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order__price {
  margin: 0;
  text-align: right;
}
.order__item {
  padding: 4px 0;
}
.image_container {
  position: relative;
  display: flex;
}
.img {
  border-radius: 8px;
}
.name {
  font-weight: 500;
  margin: 0;
  font-size: 1.1em;
}
