.content {
  padding: 0 24px;
  position: relative;
}

.img__wrap {
  display: flex;

  flex-direction: column;
  gap: 8px;
}

.img:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.5s;
}

.selected {
  border: 3px solid var(--purple) !important;
  transform: scale(1.05);
}
