.container {
  display: grid;
  grid-template-columns: 65% 35%;
  gap: 22px;
  padding: 0 4%;
  height: calc(100vh - 100px);
}
.empty {
  height: calc(100vh - 120px);
  text-align: center;
}
.list__wrap {
  padding-left: 0;
}
.content {
  border-radius: 24px;
  background-color: white;
  padding: 0 24px;
}
.content__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.img {
  border-radius: 8px;
}
.content__product {
  display: flex;
}

.content__name {
  font-weight: 500;
  margin: 0;
  font-size: 1.1em;
}
.content__desc {
  padding: 4px 0 0 16px;
}
.content__sub {
  text-align: end;
  font-weight: 500;
  font-size: 0.95em;
}
.content__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--beige);
  padding: 18px 0;
}
.content__row:first-child {
  border: none;
}
.sum__total {
  text-align: end;
  font-weight: 600;
}
.label {
  font-weight: 400;
  font-size: 0.95em;
}
