.container {
  background-color: var(--beige);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  align-items: center;
  box-shadow: 0 1px 0.05rem 0 rgb(0 0 0 / 10%);
  margin-bottom: 18px;
  color: var(--dark-cyan);
}

.home_link {
  display: flex;
  align-items: center;
}
.search {
  width: 80%;
}
.search_form {
  width: 100%;
  display: flex;
}

.search_input {
  width: 100%;
  padding: 4px 24px 4px 4px;
}
.search_icon {
  margin-left: -20px;
  line-height: 2;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.action_list {
  display: flex;
  gap: 16px;
}
