.payment {
  display: flex;
  justify-content: flex-end;
}
.price {
  font-weight: 600;
  font-style: normal;
}

.btn__buy {
  width: 100%;
  border-radius: 4px;
  font-weight: 600;
  min-height: 38px;
  background-color: transparent;
  color: var(--purple);
  border: 2px solid var(--purple);
}
.btn__buy:hover {
  cursor: pointer;
}
.action_list {
  margin-left: 0;
  padding-left: 0;
}
.action_item {
  padding-top: 16px;
}
.link {
  padding-top: 12px;
  text-align: right;
  text-decoration: underline;
  color: var(--purple);
  font-weight: 500;
  display: inline-block;
  width: 100%;
}
