.container {
  padding: 0 2rem;
  width: 100%;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid transparent;
  border-radius: 4px;
}
.grid {
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px 12px;
  display: grid;
  min-height: 100vh; /*avoid layour shift*/
  padding-left: 0;
}

.content__tail,
.content__head {
  padding: 8px;
}
.content__tail {
  position: absolute;
  background-color: var(--purple);
  opacity: 1;
  width: 100%;
  min-height: 58px;
  transform: translateY(0);
  transition: transform 0.5s;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card:hover {
  cursor: pointer;
  border-color: var(--purple);
  transition: opacity 0.5s;
}
.image_container {
  position: relative;
}
.card:hover .image_container {
  opacity: 0.8;
}

.card:hover .content__tail {
  height: 25%;
  transform: translateY(-100%);
}

.image_container {
  height: 280px;
  overflow: hidden;
}

.title {
  margin: 0;
  text-align: center;
}
.desc {
  margin: 4px 0;
  font-size: 0.9em;
}
.price {
  font-weight: 500;
  font-size: 0.95em;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.label {
  font-size: 0.87em;
}
.list_actions {
  display: flex;
  justify-content: center;
}
.btn {
  padding: 10px 32px;
  border-radius: 3px;
  border: none;
  background-color: var(--purple);
  color: var(--text-light);
}
.btn__load {
  width: 30%;
}

.btn:hover {
  cursor: pointer;
}
.btn__cart {
  width: 100%;
}
.link {
  font-size: 0.85em;
  text-decoration: underline;
  color: var(--text-light);
}
