.select_trigger {
  border: 1px solid var(--purple);
  background: white;
  min-height: 36px;
  padding: 6px 16px;
  min-width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--purple);
  border-radius: 4px;
  width: 100%;
}
.select_content {
  background: white;
  width: 100%;
  min-width: 120px;
  border-radius: 4px;
  border: 0.5px solid var(--purple);
  width: 100%;
}
.select_item {
  padding: 4px 8px;
  background: white;
  width: 100%;
  color: var(--purple);
}
