.aside {
  padding-top: 0;
  background-color: white;
  border-radius: 24px;
  max-height: 66%;
  overflow-y: auto;
}
.order__price {
  font-weight: 500;
}
.order__title {
  font-weight: 600;
  text-align: center;
}

.order__list {
  padding: 0;
  width: 80%;
  margin: 0 auto;
  min-height: 68px;
}
