.grid {
  display: grid;
  grid-template-columns: 160px 50% 30%;
  gap: 8px;
  min-height: 85vh;
  padding: 16px 24px;
}

.content {
  padding: 0 24px;
  position: relative;
}

.cta {
  padding-top: 24px;
}
.title {
  font-size: 2em;
}
.desc {
  padding-top: 4px;
}
