.container {
  width: 100%;
  border-radius: 24px;
  background-color: white;
  padding: 12px 24px 36px;
}

.row__full {
  padding: 8px 0;
  width: 100%;
  display: grid;
  grid-template-columns: 47%;
}

.row__three {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 90%;
  padding: 8px 0;
  gap: 16px;
}
.row__two {
  display: grid;
  grid-template-columns: 47% 46%;
  padding: 8px 0;
  gap: 16px;
}
